address{
	text-align: center;
}

#category{
	border-radius: 4px; 
	height: 34px;
	color: rgb(150,150,150);
	border-color: rgb(200,200,200);
}

table {
	width: 100%;
}

table, td, th {
	padding: 5px; 
	background-color: #d3dcf2; 
	color: black; 
	text-align: left;
}

#UN{
	margin-left: 5.4cm;
	font-family: Arial;
}

#srchBTN{
	color: rgb(150,150,150);
}

a{
	font-family: "Arial";
}